<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h2>회원가입 해주세용~</h2>
    <!-- ../ 작성해주면 상대경로로 변경이 되어서 넘어갈수있음! / 인 절대경로로 해도 가능! -->
    <form action="/register.do" method="post">
      아이디 : <input type="text" name="id" /> <br />

      비밀번호 : <input type="password" name="password" /> <br />

      이름 : <input type="text" name="name" /> <br />

      주소 : <input type="text" name="address" /> <br />

      <input type="submit" value="완료료료" />
    </form>
</body>
</html>