<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원 조회</h1>
	<form action="/find.do" method="post">
		<!-- 아이디 : <input type="text" name="id"><br>
		주소 : <input type="text" name="addr"><br>  -->
		
		<!-- value는 내가 가지고 있는 아이디 사용함! -->
		<label><input type="checkbox" name="checkId" value="qq">qq
		</label>
		<label><input type="checkbox" name="checkId" value="ss">ss
		</label>
		<label><input type="checkbox" name="checkId" value="bb">bb
		</label>
		
		
		<input type="submit" vlaue="조회">
		
	</form>
</body>
</html>